<!DOCTYPE html>
<html>
  <head>
    <style>
        h1, h2,  .post-list {
            overflow: hidden;
            border-right: .15em solid black;
            white-space: nowrap;
            margin: 0 auto;
            letter-spacing: .15em;
            opacity: 0;
        }
         p{
            overflow: hidden;
            border-right: .15em solid black;
            white-space: normal;
            margin: 0 auto;
            letter-spacing: .15em;
            opacity: 0;
        }
        h1 {
            animation: 
                typing 3.5s steps(40, end) forwards, 
                blink-caret .75s step-end 4 forwards,
                appear 0.1s linear forwards;
        }
        h2 {
            animation: 
                typing 3.5s steps(40, end) forwards 2s, 
                blink-caret .75s step-end 4 forwards 2s,
                appear 0.1s linear forwards 2s;
        }
        p, .post-list {
            animation: 
                typing 3.5s steps(40, end) forwards 4s, 
                blink-caret .75s step-end 4 forwards 4s,
                appear 0.1s linear forwards 4s;
        }
        @keyframes typing {
            from { width: 0 }
            to { width: 100% }
        }
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: black }
        }
        @keyframes appear {
            to { opacity: 1 }
        }
    </style>
</head>
<body>


<div class="container index">

  <div class="markdown-body" style="text-align: center;">
    <!-- 自我介紹與網站說明 -->
    <h1>$ cat welcome.txt</h1>
    <p>
      Welcome to my site! I share what I've learned about programming, cloud tech, and cybersecurity, plus some student life insights. These posts are all about my learning journey—feel free to join the conversation and share your thoughts!    </p>

    <p> ☆`·.·˙˙`·..·˙˙`·..·˙☆`·.·˙˙`·..·˙☆`·..·˙˙`·..·˙☆`·.·˙˙`·..·˙☆</p>
      <br/>
      <h2>$ cat latest_posts.txt</h2>
    <p>Latest Posts | Total <%= site.posts.length %> posts</p>

    <div class="post-list">
      <% page.posts.slice(0, 3).forEach(function(item) { %> <!-- 只取前三篇文章 -->
        <div class="post-item" title="<%- item.title %>">
          <div class="time-m-d"><%- item.date.format("YYYY-MM-DD") %></div>
          <div class="title">
            <a href="<%- url_for(item.path) %>">
              <% if(item.title !== "") { %>
                <% if (item.top) { %>
                  <span><span title="<%= __('pinned') %>" class="icon iconfont icon-pin-top post-top"></span><%- item.title %></span>
                <% } else { %>
                  <span><%- item.title %></span>
                <% } %>
              <% } else { %>
                <span>untitled</span>
              <% } %>
            </a>
          </div>
        </div>
      <% }) %>
    </div>

    <p style="font-family: 'Arial', sans-serif; line-height: 1; margin-bottom: 5px;">  　　､ゞヾ∧ ""' ∧;,</p>
    <p style="font-family: 'Arial', sans-serif; line-height: 1; margin-bottom: 5px;">　　ヾ　　  　.　 ̮.　. 　彡</p>
    <p style="font-family: 'Arial', sans-serif; line-height: 1; margin-bottom: 5px;">　　ﾐ　　   　０　　 ０　ミ</p>
    <p style="font-family: 'Arial', sans-serif; line-height: 1; margin-bottom: 5px;">　~彡　　　　　　　　ﾐ</p>
    <p style="font-family: 'Arial', sans-serif; line-height: 1; margin-bottom: 10px;">　　/ｿ,,　,０;,;;:､０ヾ`</p>
    
  </div>

    <br/>
      

<!-- 
  <div class="post-list">
    <% page.posts.forEach(function(item) { %>
      <div class="post-item" title="<%- item.title %>">
        <div class="time-m-d"><%- item.date.format("YYYY-MM-DD") %></div>
        <div class="title">
          <a href="<%- url_for(item.path) %>">
            <% if(item.title !== "") { %>
              <% if (item.top) { %>
                <span><span title="<%= __('pinned') %>" class="icon iconfont icon-pin-top post-top"></span><%- item.title %></span>
              <% } else { %>
                <span><%- item.title %></span>
              <% } %>
            <% } else { %>
              <span>untitled</span>
            <% } %>
          </a>
        </div>
      </div>
    <% }) %>
  </div>
  -->
  <!-- <nav class="post-navigation">
    <% if(page.prev !== 0){ %>
      <a href="<%- url_for(page.prev_link)%>"><i class="iconfont icon-angleleft"></i></a>
    <% } %>
    <span class="page-num"><%- page.current %> / <%- page.total -%></span>
    <% if(page.next !== 0){ %>
      <a href="<%- url_for(page.next_link)%>"><i class="iconfont icon-angleright"></i></a>
    <% } %>
  </nav> -->
  
</div> 
</body>
</html>